.DS_Store
*.DS_Store

backend/node_modules
backend/package-lock.json


tm4c123/src/GripSim/.metadata/
tm4c123/src/GripSim/.metadata

.metadata
.metadata/
/.metadata/
Current Session
Current Tabs
src/.jxbrowser.*
.jxbrowser.*
RemoteSystemsTempFiles/*
RemoteSystemsTempFiles/
RemoteSystemsTempFiles