@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,400,500,600');

body {
    text-align: center;
    /* background-color: #f9f9f9; */
    background-color: #111;
    margin: 0;
}

* {
    font-family: 'Source Sans Pro', Trebuchet, Verdana, Helvetica, Arial,
        sans-serif;
}
